<!DOCTYPE html>
<html data-ng-app="stuffFinderModule">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="generator" content="StuffFinder" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @*<link href="Content/bootstrap.min.css" rel="stylesheet">*@
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @*<link href="Content/styles.css" rel="stylesheet">*@

    @Styles.Render("~/Content/css")
    @*<link rel="stylesheet" href="~/Content/animate.css">*@
    <link href="content/loading-bar.css" rel="stylesheet" />
    <link href="content/site.css" rel="stylesheet" />
    @*@Scripts.Render("~/bundles/modernizr")*@
    <style type="text/css">
        html, body, #map-canvas {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">


                <!-- sidebar -->
                <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar" data-ng-controller="sidebarController as vm">

                    <ul class="nav">
                        <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    </ul>

                    <ul class="nav hidden-xs" id="lg-menu">
                        <li><a href="/areas/dashboard/pages/#/admin"><i class="glyphicon glyphicon-wrench"></i> Admin Dashboard</a></li>
                        <li><a href="#/home" data-ng-click="vm.authentication.loginlogout()"><i class="glyphicon glyphicon-user"></i> {{ vm.authentication.sidebarAuthenticationLabel }} </a></li>
                        <li class="active"><a href="#/start"><i class="glyphicon glyphicon-list-alt"></i> Featured</a></li>
                        <li><a href="#/where-is-it"><i class="glyphicon glyphicon-plus"></i> Looking For Something</a></li>
                        <li><a href="#/found-it"><i class="glyphicon glyphicon-bookmark"></i> Share Something You Found</a></li>
                        <li><a href="#/things"><i class="glyphicon glyphicon-list"></i> Feed</a></li>
                    </ul>
                    <div class="form-group-sm search-box-sidebar">
                        <hr />
                        <h4>Search</h4>
                        <div class="form-group form-group-sm">
                            <select class="form-control">
                                <option value="--">All Cities</option>
                                <option value="3">Abu Dhabi</option>
                                <option value="14">Ajman</option>
                                <option value="39">Al Ain</option>
                                <option value="2">Dubai</option>
                                <option value="13">Fujairah</option>
                                <option value="11">Ras al Khaimah</option>
                                <option value="12">Sharjah</option>
                                <option value="15">Umm al Quwain</option>
                            </select>
                        </div>
                        <div class="form-group-sm input-group input-group-sm" style="max-width:360px;">
                            <input type="text" class="form-control" placeholder="Search WheresMyStuff.com" data-ng-model="vm.query" name="srch-term" id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" ng-hide="true"><i class="glyphicon glyphicon-search"></i></button>
                                <a class="btn btn-default" href="#/search/{{ vm.query }}"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <ul class="list-unstyled hidden-xs" id="sidebar-footer">
                        <li>
                            <a href="#"><h3><i class="glyphicon glyphicon-heart-empty red"></i></h3></a>
                        </li>
                    </ul>

                    <!-- tiny only nav-->
                    @*<ul class="nav visible-xs" id="xs-menu">
                        <li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                        <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
                        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
                        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
                    </ul>*@

                    <ul class="nav visible-xs" id="xs-menu">
                        <li><a href="/areas/dashboard/pages/#/admin"><i class="glyphicon glyphicon-wrench"></i></a></li>
                        <li><a href="#/home" data-ng-click="vm.authentication.loginlogout()"><i class="glyphicon glyphicon-user"></i></a></li>
                        <li><a href="#/start"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                        <li><a href="#/where-is-it"><i class="glyphicon glyphicon-plus"></i></a></li>
                        <li><a href="#/found-it"><i class="glyphicon glyphicon-bookmark"></i></a></li>
                        <li><a href="#/things"><i class="glyphicon glyphicon-list"></i></a></li>
                    </ul>

                </div>
                <!-- /sidebar -->
                <!-- main right col -->
                <div class="column col-sm-10 col-xs-11" id="main">

                    <!-- top nav -->
                    <div class="navbar navbar-blue navbar-static-top visible-xs">
                        <div class="form-group-sm input-group input-group-sm" style="max-width:360px;">
                            <input type="text" class="form-control" placeholder="Search WheresMyStuff.com" data-ng-model="vm.query" name="srch-term" id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" ng-hide="true"><i class="glyphicon glyphicon-search"></i></button>
                                <a class="btn btn-default" href="#/search/{{ vm.query }}"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                        </div>
                    </div>
                    @*<div class="navbar navbar-blue navbar-static-top visible-xs" ng-hide="true">*@
                    <div class="navbar navbar-blue navbar-static-top" ng-hide="true">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="/" class="navbar-brand logo">b</a>
                        </div>
                        <nav class="collapse navbar-collapse" role="navigation">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#/start"><i class="glyphicon glyphicon-home"></i> Home</a>
                                </li>
                                <li>
                                    <a href="#postModal" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Post</a>
                                </li>
                                <li>
                                    <a href="#"><span class="badge">badge</span></a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#/home" style="padding-right:100px"><i class="glyphicon glyphicon-user"></i></a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">More</a></li>
                                        <li><a href="">More</a></li>
                                        <li><a href="">More</a></li>
                                        <li><a href="">More</a></li>
                                        <li><a href="">More</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /top nav -->

                    <div class="padding">
                        @*<div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>*@
                        <div data-ng-view="">
                        </div>
                        @RenderBody()
                    </div><!-- /padding -->
                </div>
                <!-- /main -->

            </div>
        </div>
    </div>


    <!--post modal-->
    <div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    Update Status
                </div>
                <div class="modal-body">
                    <form class="form center-block">
                        <div class="form-group">
                            <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div>
                        <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>
                        <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 3rd party libraries -->
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-resource.min.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="scripts/angular-ui/angular-google-maps/angular-google-maps.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script type="text/javascript" src="scripts/vendor/ng-droplet/ng-droplet.js"></script>
    <script type="text/javascript" src="scripts/vendor/progressbar.js/dist/progressbar.js"></script>
    <script src="scripts/vendor/lodash/lodash.min.js"></script>
    <!-- Load app main script -->
    <script src="app/stuffFinder-module.js"></script>
    <!-- Load services -->
    <script src="app/services/dataService.js"></script>
    <script src="app/authInterceptor/authInterceptorService.js"></script>
    <script src="app/auth/authService.js"></script>
    <script src="app/things/thingsService.js"></script>
    <script src="app/services/tokensManagerService.js"></script>
    <!-- Load controllers -->
    <script src="app/index/indexController.js"></script>
    <script src="app/home/homeController.js"></script>
    <script src="app/login/loginController.js"></script>
    <script src="app/signup/signupController.js"></script>
    <script src="app/things/thingsController.js"></script>
    <script src="app/start/startController.js"></script>
    <script src="app/found-it/foundItController.js"></script>
    <script src="app/admin/adminController.js"></script>
    <script src="app/sidebar/sidebarController.js"></script>
    <script src="app/associate/associateController.js"></script>
    <script src="app/refresh/refreshController.js"></script>
    <script src="app/tokensManager/tokensManagerController.js"></script>
    <script src="app/whereIsIt/whereIsItController.js"></script>
    <script src="app/things/thingController.js"></script>
    <script src="app/admin/jumbotronYoutubeVideoSettingsController.js"></script>
    <script src="app/admin/dashboardEmailSettingsController.js"></script>
    <script src="app/search/searchController.js"></script>
    <script src="app/dynFbCommentBox/dynFbCommentBox.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @*<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>*@
    <script src="scripts/jquery.mb.YTPlayer.js"></script>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1541990042756578&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    @RenderSection("scripts", required: false)
</body>
</html>
